[user]
	name = Anders Kostending
	email = a_kostending@live.dk
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = auto
[merge]
  tool = meld
[diff]
  tool = meld
[difftool]
  prompt = false
[mergetool]
  prompt = false
[core]
  editor = /usr/bin/vim
  excludesfile = ~/.gitignore
[hub]
  protocol = ssh
[credential]
  helper = osxkeychain

[push]
	default = simple
[pull]
	default = simple
